*.iml
.gradle/
local.properties
.idea/libraries
.idea/workspace.xml
.idea/caches/build_file_checksums.ser
.DS_Store
build/
captures/
.externalNativeBuild
/venv
/.idea/workspace.xml
../.idea/workspace.xml
*.index
*.meta
*.data-00000-of-00001
model
checkpoint